section#home
    header.header(style={"background-image":"url(static/images/content/header-bg.jpg)"})
        //- .navbar-top
        //-     .container
        //-         .navbar-top__wrapper
        //-             a.navbar-top__tel(href="tel:+79999999999") +7(999)999-99-99
        //-             a.navbar-top__tel(href="mailto:xxx@xx.xxx") xxx@xx.xxx
        //-             .social
        //-                 a(href="#")
        //-                     +icon('facebook','social-icon')
        //-                 a(href="#")
        //-                     +icon('twitter','social-icon')
        //-                 a(href="#")
        //-                     +icon('vk','social-icon')
        //-                 a(href="#")
        //-                     +icon('skype','social-icon')
        //-                 a(href="#")
        //-                     +icon('instagram','social-icon')
        .navbar-top.navbar-top--authorization
            .container
                .navbar-top__wrapper
                    .social
                        a(href="#")
                            +icon('facebook','social-icon')
                        a(href="#")
                            +icon('twitter','social-icon')
                        a(href="#")
                            +icon('vk','social-icon')
                        a(href="#")
                            +icon('skype','social-icon')
                        a(href="#")
                            +icon('instagram','social-icon')
                    .navbar-top__btn
                        a(href='#form-popup').btn.btn--icon.popup-with-form go in
                            +icon('lock')
                        a(href='#form-popup1').btn.btn--icon.popup-with-form registr
                            +icon('login')
        nav.navbar
            .container
                .navbar-wrapper
                    a.navbar-brand(href='#home')
                        span Outline
                    ul.menu
                        li.menu__item
                            a.menu__link.active(href='#home') Home
                        li.menu__item
                            a.menu__link(href='#catalog') Catalog
                        li.menu__item
                            a.menu__link(href='#advantages') Advantages
                        //- li.menu__item
                        //-     a.menu__link(href='#testimonies') Testimonies
                        //- li.menu__item
                        //-     a.menu__link(href='#products') Products
                        //- li.menu__item
                        //-     a.menu__link(href='#benefits') Benefits
                        //- li.menu__item
                        //-     a.menu__link(href='#pricing') Pricing
                        li.menu__item
                            a.menu__link(href='#faqs') FAQs
                    a.sandwich(href='#')
                        .sandwich__line.sandwich__line--top
                        .sandwich__line.sandwich__line--middle
                        .sandwich__line.sandwich__line--bottom
        .container
            .header__slider
                .header__slider-item
                    .offer
                        .offer__info
                            .offer__info-title We take your business to the next level.
                            .offer__info-subtitle Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blintexts.Separated they live in Bookmarksgrove
                            a(href="#" data-modal="buy").btn.btn--icon See on AppStore
                                +icon("apple")
                        .offer__img
                            img(src="static/images/content/iphone_6.png", alt="")
                .header__slider-item
                    .offer
                        .offer__info
                            .offer__info-title We take your business to the next level.
                            .offer__info-subtitle Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blintexts.Separated they live in Bookmarksgrove
                            button(data-modal="buy").btn.btn--icon See on AppStore
                                +icon("apple")
                        .offer__img
                            img(src="static/images/content/iphone_6.png", alt="")
        .header__clients
            .container
                .header__clients-row
                    .header__clients-block
                        img(src="static/images/content/clients/client_1.png", alt="clients")
                    .header__clients-block
                        img(src="static/images/content/clients/client_2.png", alt="clients")
                    .header__clients-block
                        img(src="static/images/content/clients/client_3.png", alt="clients")
                    .header__clients-block
                        img(src="static/images/content/clients/client_4.png", alt="clients")

a(href="#").top
    +icon('top')


#form-popup.white-popup.mfp-hide
    .form__title Login
    form.form(action='#')
        div
            input#name.form__input(type='text', placeholder='Name')
        div
            input#email.form__input(type='email', placeholder='E-mail')
        div
            input.form__btn(type='submit', value='log in')

#form-popup1.white-popup.mfp-hide
    .form__title Registration
    form.form(action='#')
        div
            input#name.form__input(type='text', placeholder='Name')
        div
            input#email.form__input(type='email', placeholder='E-mail')
        div
            input#email.form__input(type='password', placeholder='Password')
        div
            input.form__btn(type='submit', value='registration')



