section.section.faq#faqs
    .container
        .title Frequently Ask Questions
        .subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quo.
        .accordion-wrapper
            .accordion.active
                .accordion_tab.active Accordion Title
                    .accordion_arrow
                        +icon('down', 'accordion-icon')
                .accordion_content
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
            .accordion
                .accordion_tab Accordion Title
                    .accordion_arrow
                        +icon('down', 'accordion-icon')
                .accordion_content
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
            .accordion
                .accordion_tab Accordion Title
                    .accordion_arrow
                        +icon('down', 'accordion-icon')
                .accordion_content
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
            .accordion
                .accordion_tab Accordion Title
                    .accordion_arrow
                        +icon('down', 'accordion-icon')
                .accordion_content
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
            .accordion
                .accordion_tab Accordion Title
                    .accordion_arrow
                        +icon('down', 'accordion-icon')
                .accordion_content
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
            .accordion
                .accordion_tab Accordion Title
                    .accordion_arrow
                        +icon('down', 'accordion-icon')
                .accordion_content
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
            .accordion
                .accordion_tab Accordion Title
                    .accordion_arrow
                        +icon('down', 'accordion-icon')
                .accordion_content
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
                    .accordion_item
                        p.item_title Accordion SubTitle
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quis sed praesentium dolorem hic ipsam maiores magnam voluptatem deleniti sunt.
            
