section#advantages.advantages
    .container
        .title Advantages
        .subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quo.
        .advantages-row
            .advantages__item
                +icon('database')
                .advantages__item-title Lorem, ipsum dolor
                .advantages__item-text.more Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quis! Veniam odit rem nesciunt ut quis cupiditate aliquid! Dignissimos quidem delectus quod et totam inventore reiciendis aspernatur sed ad libero. Minima vero voluptatem obcaecati labore dicta, in eos hic ipsum?
            .advantages__item
                +icon('folder')
                .advantages__item-title Lorem, ipsum dolor
                .advantages__item-text.more Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quis! Veniam odit rem nesciunt ut quis cupiditate aliquid! Dignissimos quidem delectus quod et totam inventore reiciendis aspernatur sed ad libero. Minima vero voluptatem obcaecati labore dicta, in eos hic ipsum?
            .advantages__item
                +icon('like')
                .advantages__item-title Lorem, ipsum dolor
                .advantages__item-text.more Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quis! Veniam odit rem nesciunt ut quis cupiditate aliquid! Dignissimos quidem delectus quod et totam inventore reiciendis aspernatur sed ad libero. Minima vero voluptatem obcaecati labore dicta, in eos hic ipsum?
            .advantages__item
                +icon('navigation')
                .advantages__item-title Lorem, ipsum dolor
                .advantages__item-text.more Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quis! Veniam odit rem nesciunt ut quis cupiditate aliquid! Dignissimos quidem delectus quod et totam inventore reiciendis aspernatur sed ad libero. Minima vero voluptatem obcaecati labore dicta, in eos hic ipsum?
            .advantages__item
                +icon('settings')
                .advantages__item-title Lorem, ipsum dolor
                .advantages__item-text.more Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quis! Veniam odit rem nesciunt ut quis cupiditate aliquid! Dignissimos quidem delectus quod et totam inventore reiciendis aspernatur sed ad libero. Minima vero voluptatem obcaecati labore dicta, in eos hic ipsum?
            .advantages__item
                +icon('user')
                .advantages__item-title Lorem, ipsum dolor
                .advantages__item-text.more Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quis! Veniam odit rem nesciunt ut quis cupiditate aliquid! Dignissimos quidem delectus quod et totam inventore reiciendis aspernatur sed ad libero. Minima vero voluptatem obcaecati labore dicta, in eos hic ipsum?