footer { flex: 0 0 auto; }
.footer{
    padding-top: 70px;
    &__bottom{
        background-color: #000;
        padding: 20px;
        color: #fff;
    }
}
.contact-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-form__input-wrapper{
    flex-basis: 33%;
}
#contact-form_1{
    margin-bottom: 30px;
    padding: 0 10px;
    button{
        width: 33%;
        margin: 0 auto;
    }
}



@media (max-width:768px){
    .contact-form{
        flex-direction: column;
    }
    #contact-form_1{
        padding: 0 40px;
        button{
            width: 100%;
        }
    }
}