.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.mfp-close {
  //   background-color: $brand-secondary !important;
  border-radius: 50%;
  opacity: 1;
}
.form {
  margin-top: 30px;
  text-align: center;
  &__title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
  }
  &__input {
    width: 100%;
    border: none;
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 20px;
    &:focus,
    &:hover {
      border-color: $brand-secondary;
    }
    &::placeholder {
      color: #ccc;
    }
  }
  &__btn {
    width: 100%;
    background-color: $brand-secondary;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0;
    cursor: pointer;
  }
}
