header {
    flex: 0 0 auto;
}

.header {
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 40px;
    position: relative;

    &__clients {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba($brand-secondary, .8);
        padding: 20px;

        &-row {
            display: flex;
            justify-content: space-between;
        }
    }
}

.mobile_menu {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    padding: 12px 25px;
    color: $black;
    background: $white;
    border-radius: 2px;
    border: none;
    width: auto;
    margin: 0;
    text-decoration: none;
    transition: linear 0.5s;
}

.mobile_menu:hover {
    background: #228ae6;
    cursor: pointer;
}

.mobile_menu_overlay,
.mobile_menu_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.mobile_menu_container,
.mobile_menu_container ul li ul {
    transition: linear 0.3s;
}

.mobile_menu_overlay {
    display: none;
    cursor: pointer;
    z-index: 100;
    background: rgba($brand-overlay-color, 0.5);
}

.mobile_menu_container {
    transform: translateX(300px);
    width: 300px;
    overflow: hidden;
    z-index: 999;
    background: $white;
}

.mobile_menu_container.loaded {
    transform: translateX(0px);
}

.mobile_menu_container .mobile_menu_content {
    overflow: auto;
    max-height: 100%;
}

.mobile_menu_container ul {
    margin: 0;
    padding: 0;
}

.mobile_menu_container ul li {
    list-style: none;
}

.mobile_menu_container ul li a {
    display: block;
    padding: 15px 20px;
    background: $white;
    color: $black;
    font-weight: bold;
    text-decoration: none;
    transition: linear 0.3s;
    border-bottom: 1px solid #eaeaea;
}

.mobile_menu_container ul li a.active {
    color: $brand-secondary;
}

.mobile_menu_container ul li a.parent {
    padding-right: 50px;
    background: $white url("../../static/images/content/right-arrow.svg") right 20px center no-repeat;
    background-size: 20px;
}

.mobile_menu_container ul li a.parent:hover {
    background: rgba($brand-body-color, 0.1) url("../../static/images/content/left-arrow.svg") right 20px center no-repeat;
    background-size: 20px;
}

.mobile_menu_container ul li a.back {
    padding-left: 50px;
    background: $white url("../../static/images/content/right-arrow.svg") left 20px center no-repeat;
    background-size: 20px;
    min-height: 50px;
}

.mobile_menu_container ul li a.back:hover {
    background: $white url("../../static/images/content/right-arrow.svg") left 20px center no-repeat;
    background-size: 20px;
}

.mobile_menu_container ul li a:hover {
    background: rgba($brand-body-color, 0.1);
    color: $brand-secondary;
}

.mobile_menu_container ul li ul {
    transform: translateX(300px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: 2;
}

.mobile_menu_container ul li ul.loaded {
    transform: translateX(0px);
}

.navbar {
    width: 100%;
    background-color: transparent;
    padding: 20px 0;
    transition: ease-in-out 0.5s;

    &-wrapper {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-brand {
        text-align: left;
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        color: $white;
        z-index: 10;
        position: relative;

        span {
            display: inline-block;
            border: 2px solid $white;
            padding: 7px 10px 7px 12px;
        }

        &:hover {
            color: $white;
            opacity: 0.8;
        }
    }
}

.fixed {
    background-color: rgba($brand-body-color, 0.325);
    z-index: 999;
    position: fixed;
    padding: 10px 0;
    //   border-bottom: 2px solid #ccc;
    box-shadow: 0px 4px 7px 1px rgba(204, 204, 204, 1);
    margin-top: -55px;
}

.sandwich {
    cursor: pointer;
    height: 17px;
    position: relative;
    width: 30px;
    display: none;

    &__line {
        background-color: #fff;
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
        transition: linear 0.2s;

        &--top {
            top: 0;
        }

        &--middle {
            top: 7px;
        }

        &--bottom {
            top: 14px;
        }
    }

    &:hover {
        .sandwich__line {
            &--top {
                top: -2px;
            }

            &--middle {
                top: 7px;
            }

            &--bottom {
                top: 16px;
            }
        }
    }
}

.menu {
    display: flex;

    &__item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        font-size: 18px;
        color: $brand-selection-color;
        padding-bottom: 2px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 20px;
            background-color: $brand-secondary;
            opacity: 0;
        }

        &:hover,
        &.active {
            outline: none;
            color: $brand-secondary;
        }

        &:hover::before,
        &.active::before {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 960px) {
    .header {
        min-height: 100vh;
    }

    .menu {
        display: none !important;
    }

    .sandwich {
        display: block;
    }

    .mobile_menu_container {
        width: 250px;
    }

    .fixed {
        z-index: 99;
    }

    .navbar-top {
        display: none;
    }
}

.top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    position: fixed;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &.show {
        opacity: 0.6;
        visibility: visible;
    }

    .icon-top {
        fill: $brand-darker;
        width: 30px;
        height: 30px;
    }

    &:hover {
        opacity: 1;

        svg {
            fill: $brand-secondary;
        }
    }
}

.social {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        display: inline-block;
        border: 2px solid $brand-secondary;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: linear .5s;
    }

    &-icon {
        width: 20px;
        height: 20px;
        fill: $brand-secondary;
    }
}

.section {
    min-height: 100vh;
    border-top: 5px solid red;
}

.navbar-top {
    background-color: #000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        color: $brand-secondary;
        align-items: center;
        padding: 10px 20px;
    }

    .social {
        margin: 0;

        a {
            border: none;
        }

        a:hover {
            box-shadow: 0px 0px 30px 1px rgba(79, 210, 194, 1);
        }
    }
}

.offer {
    display: flex;
    margin-top: 40px;
    padding: 0 20px;
    color: $white;

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        max-width: 550px;

        &-title {
            font-size: 50px;
            line-height: 50px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &-subtitle {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: .05em;
        }
    }

    &__img {

        img {
            height: 650px;

        }
    }
}

.btn {
    display: block;
    padding: 15px 20px 15px 50px;
    margin-top: 40px;
    background-color: $brand-secondary;
    border-radius: 30px;
    position: relative;
    transition: linear .5s;
    font-family: $font-monsterrat;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 11px;

    svg {
        fill: $white;
        height: 20px;
        width: 20px;
        vertical-align: middle;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover {
        box-shadow: 0 5px 7px rgba(0, 0, 0, .25);
        background-color: darken($brand-secondary, 20%);
    }
}