section.section.catalog#catalog
    .container
        .title Catalog
        .subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, quo.
        .button-group.filters-button-group
            button(data-filter="*").catalog__tab.is-checked 
                div all
            button(data-filter=".car").catalog__tab
                div car
            button(data-filter=".moto").catalog__tab 
                div moto
            button(data-filter=".travel").catalog__tab 
                div travel
        .catalog__content
            div(data-category="car").catalog-item.car
                a.image-link(href="static/images/content/catalog/car/car_1.jpg")
                    img(src="static/images/content/catalog/car/car_1.jpg", alt="car")
            div(data-category="car").catalog-item.car
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/car/car_2.jpg")
                        img(src="static/images/content/catalog/car/car_2.jpg", alt="car")
            div(data-category="car").catalog-item.car
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/car/car_3.png")
                        img(src="static/images/content/catalog/car/car_3.png", alt="car")
            div(data-category="car").catalog-item.car
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/car/car_4.jpg")
                        img(src="static/images/content/catalog/car/car_4.jpg", alt="car")
            div(data-category="moto").catalog-item.moto
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/moto/moto_1.jpg")
                        img(src="static/images/content/catalog/moto/moto_1.jpg", alt="moto")
            div(data-category="moto").catalog-item.moto
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/moto/moto_2.jpg")
                        img(src="static/images/content/catalog/moto/moto_2.jpg", alt="moto")
            div(data-category="moto").catalog-item.moto
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/moto/moto_3.jpg")
                        img(src="static/images/content/catalog/moto/moto_3.jpg", alt="moto")
            div(data-category="moto").catalog-item.moto
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/moto/moto_4.jpg")
                        img(src="static/images/content/catalog/moto/moto_4.jpg", alt="moto")
            div(data-category="moto").catalog-item.travel
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/travel/travel_1.jpg")
                        img(src="static/images/content/catalog/travel/travel_1.jpg", alt="moto")
            div(data-category="moto").catalog-item.travel
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/travel/travel_2.jpg")
                        img(src="static/images/content/catalog/travel/travel_2.jpg", alt="moto")
            div(data-category="moto").catalog-item.travel
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/travel/travel_3.jpg")
                        img(src="static/images/content/catalog/travel/travel_3.jpg", alt="moto")
            div(data-category="moto").catalog-item.travel
                .catalog-item__img
                    a.image-link(href="static/images/content/catalog/travel/travel_4.jpg")
                        img(src="static/images/content/catalog/travel/travel_4.jpg", alt="moto")


            